#
# ISDN device configuration.
#

menu "ISDN subsystem"

config ISDN
	tristate "ISDN support"
	depends on NET
	help
	  ISDN ("Integrated Services Digital Networks", called RNIS in France)
	  is a special type of fully digital telephone service; it's mostly
	  used to connect to your Internet service provider (with SLIP or
	  PPP).	 The main advantage is that the speed is higher than ordinary
	  modem/telephone connections, and that you can have voice
	  conversations while downloading stuff.  It only works if your
	  computer is equipped with an ISDN card and both you and your service
	  provider purchased an ISDN line from the phone company.  For
	  details, read <http://www.alumni.caltech.edu/~dank/isdn/> on the WWW.
	  
	  Select this option if you want your kernel to support ISDN.

comment "CAPI subsystem"
	depends on ISDN

config ISDN_CAPI
	tristate "CAPI2.0 support (EXPERIMENTAL)"
	depends on ISDN && EXPERIMENTAL
	help
	  This provides the CAPI (Common ISDN Application Programming
	  Interface), a standard making it easy for programs to access ISDN
	  hardware, see <http://www.capi.org/>.

source "drivers/isdn/capi/Kconfig"

endmenu
