#
# Kconfig for the CAPI subsystem.
#

config CAPI_MAX_DEVS
	int "Maximum number of ISDN devices"
	range 1 255
	default "4"
	depends on ISDN_CAPI
	help
	  This allows you to specify the maximum number of ISDN devices which
	  the CAPI subsystem will support.

config CAPI_MAX_APPLS
	int "Maximum number of CAPI applications"
	range 8 65535
	default "64"
	depends on ISDN_CAPI
	help
	  This allows you to specify the maximum number of CAPI applications
	  which the CAPI subsystem will support.

config KERNELCAPI
	tristate "KERNELCAPI compatibility interface (deprecated, EXPERIMENTAL)"
	depends on ISDN_CAPI && EXPERIMENTAL
	help
	  This provides the CAPI (Common ISDN Application Programming
	  Interface) for kernel level applications as described by the CAPI2.0
	  standard, see <http://www.capi.org>.
	  However, kernel level applications should use the new API, see
	  include/linux/isdn/capiappl.h.
